.App-header {
  background-color: #d35400;
  height: 3em;
  color: #FFF;
  display: flex;
  justify-content: space-between;
}

.App-header button {
  color: #10A056;
  background: #f0f0f0;
  height: 1.5em;
  align-self: center;
}

.container-fluid {
  margin-top: 2em;
}

#recipe-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly
}

.card {
  background: #d35400;
  color:#FFF;
}

.card-title {
  text-align: center;
}