a {
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

.App-header {
  background-color: #d35400;
  height: 3em;
  color: #FFF;
  display: flex;
  justify-content: space-between;
}

.App-header button {
  color: #008086;
  background: #f0f0f0;
  height: 1.5em;
  align-self: center;
  padding: 0 .5em;
}

.container-fluid {
  margin-top: 2em;
}

#recipe-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly
}

.card {
  background: #d35400;
  color:#FFF;
  margin: 1em;
}

.card-title {
  text-align: center;
}

#ingredientsList {
  justify-content: space-evenly;
  font-size: .6em;
}

#ingredientForm input {
  margin-right: .5em;
}

.recipe {
  margin-top: 2em;
}

.recipe .row {
  margin-bottom: 2em;
}

.img-thumbnail {
  background-color: #d35400;
}

.recipe h3 {
  color: #008086;
}

.recipe h5 {
  color: #00C8D3;
}

.info {
  background: #ecf0f1;
}

.info h6 {
  margin-top: 1em;
  color: #c0392b;
}

/* Utility classes */
.w-40 {
  width: 40%!important;
}