.App-header {
  background-color: #d35400;
  height: 3em;
  color: #FFF;
}

.App-header h1 {
  margin-left: 1em;
}

.container-fluid {
  margin-top: 2em;
}

#recipe-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly
}

.card {
  background: #d35400;
  color:#FFF;
}

.card-title {
  text-align: center;
}